In [1]:
from sklearn.manifold import TSNE
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np

In [2]:
df = pd.read_csv('datasets_38396_60978_charcters_stats.csv')
df.head()
#df[2:3]

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436

In [3]:
df1 = df.iloc[:, 2:10]
tsne_em = TSNE(n_components=2, perplexity=30.0, n_iter=1000, verbose=1).fit_transform(df1)

[t-SNE] Computing 91 nearest neighbors...
[t-SNE] Indexed 611 samples in 0.002s...
[t-SNE] Computed neighbors for 611 samples in 0.026s...
[t-SNE] Computed conditional probabilities for sample 611 / 611
[t-SNE] Mean sigma: 0.000000
[t-SNE] KL divergence after 250 iterations with early exaggeration: 54.413174
[t-SNE] KL divergence after 1000 iterations: 0.551655

In [7]:
from bioinfokit.visuz import cluster
cluster.tsneplot(score=tsne_em)

NameError: name 'tsne_score' is not defined